mixin partner-logo(partner)
  case partner
    when 'evercoin'
      img.partner-logo(src='/resources/images/partners/evercoin.svg', height=16)&attributes(attributes)
    when 'cryptopia'
      img.partner-logo(src='/resources/images/partners/cryptopia.svg', height=16)&attributes(attributes)
    when 'shapeshift'
      img.partner-logo(src='/resources/images/partners/shapeshift.svg', height=16)&attributes(attributes)
    when 'changelly'
      img.partner-logo(src='/resources/images/partners/changelly.svg', height=16)&attributes(attributes)
    when 'binance'
      img.partner-logo(src='/resources/images/partners/binance.svg', height=16)&attributes(attributes)
    when 'kucoin'
      img.partner-logo(src='/resources/images/partners/kucoin.svg', height=16)&attributes(attributes)
    when 'bittrex'
      img.partner-logo(src='/resources/images/partners/bittrex.png', height=16)&attributes(attributes)
    when 'poloniex'
      img.partner-logo(src='/resources/images/partners/poloniex.png', height=16)&attributes(attributes)
    when 'huobi'
      img.partner-logo(src='/resources/images/partners/huobi.png', height=16)&attributes(attributes)
    when 'smartjex'
      img.partner-logo(src='/resources/images/partners/smartjex.png', height=16)&attributes(attributes)
