include svg-icon
mixin social-buttons(invert, size)
  - invert = invert || false;
  - size = size || '';
  .social-buttons(
    class=invert ? 'invert' : '',
    class=size ? size : ''
  )
    a(href="https://www.facebook.com/smartjex/" target="_blank")
      svg(class="svg svg-facebook-square" width=24 height=24)
        use(xlink:href="/widget/resources/img/sprite.svg#facebook-square")
    a(href="https://twitter.com/Smartjex" target="_blank" )
      svg(class="svg svg-twitter-square" width=24 height=24)
        use(xlink:href="/widget/resources/img/sprite.svg#twitter-square")
    a(href="https://t.me/smartjex" target="_blank")
      svg(width="21" height="22" viewBox="0 0 21 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        title iconmonstr-telegram-2
        desc Created using Figma
        g(id="Canvas3" transform="translate(-465 -3090)")
          g(id="iconmonstr-telegram-2")
            g(id="telegram 2")
              use(xlink:href="#path3_fill" transform="translate(465 3090.5)" fill="#FFFFFF")
                defs
                  path(id="path3_fill" fill-rule="evenodd" d="M 21 19C 21 20.1046 20.1046 21 19 21L 2 21C 0.895431 21 0 20.1046 0 19L 0 2C 0 0.895431 0.895431 0 2 0L 19 0C 20.1046 0 21 0.895431 21 2L 21 19ZM 14.224 16.4955C 14.4121 16.6294 14.6536 16.6626 14.8697 16.5804C 15.085 16.499 15.2442 16.3144 15.2924 16.0904C 15.799 13.7086 17.0293 7.67812 17.4904 5.51162C 17.5245 5.348 17.4667 5.17825 17.339 5.06888C 17.2104 4.96038 17.0319 4.92887 16.8735 4.9875C 14.4279 5.89225 6.895 8.7185 3.81588 9.85863C 3.62075 9.93038 3.49387 10.1185 3.5 10.325C 3.507 10.5306 3.64612 10.71 3.84562 10.7704C 5.22637 11.1825 7.03938 11.7574 7.03938 11.7574C 7.03938 11.7574 7.8855 14.3159 8.32738 15.6161C 8.3825 15.7798 8.51112 15.9084 8.67912 15.9521C 8.848 15.9959 9.0265 15.9504 9.1525 15.8314C 9.86213 15.162 10.9585 14.1269 10.9585 14.1269C 10.9585 14.1269 13.0419 15.6546 14.224 16.4955ZM 7.8015 11.4345L 8.78062 14.665L 8.9985 12.6192C 8.9985 12.6192 12.782 9.20675 14.9397 7.26075C 15.0027 7.20388 15.0115 7.1085 14.959 7.04112C 14.9065 6.97375 14.8111 6.958 14.7394 7.0035C 12.2395 8.60037 7.8015 11.4345 7.8015 11.4345Z")
    a(href="https://www.instagram.com/smartjex" target="_blank")
      svg(svg width="21" height="22" viewBox="0 0 21 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        title iconmonstr-instagram-12
        desc Created using Figma
        g(id="Canvas4" transform="translate(-501 -3090)")
          g(id="iconmonstr-instagram-12")
            g(id="Vector")
              use(xlink:href="#path4_fill" transform="translate(501 3090.5)" fill="#FFFFFF")
                defs
                  path(id="path4_fill" d="M 12.8336 10.5C 12.8336 11.7889 11.7889 12.8336 10.5 12.8336C 9.21112 12.8336 8.16638 11.7897 8.16638 10.5C 8.16638 9.21112 9.21112 8.16638 10.5 8.16638C 11.7889 8.16638 12.8336 9.21112 12.8336 10.5ZM 16.1989 7.672C 16.2321 8.40962 16.2391 8.631 16.2391 10.5C 16.2391 12.369 16.2321 12.5904 16.1989 13.3289C 16.1114 15.2101 15.2285 16.1122 13.3298 16.198C 12.5913 16.2312 12.3699 16.2391 10.5 16.2391C 8.631 16.2391 8.40875 16.2321 7.672 16.1989C 5.76975 16.1123 4.88862 15.2084 4.80287 13.3298C 4.76875 12.5904 4.76087 12.369 4.76087 10.5C 4.76087 8.631 4.76875 8.40962 4.802 7.672C 4.88862 5.789 5.77238 4.88862 7.67113 4.80287C 8.40963 4.76875 8.631 4.76175 10.5 4.76175C 12.369 4.76175 12.5912 4.76875 13.3289 4.802C 15.2259 4.88862 16.1114 5.789 16.1989 7.672ZM 14.0945 10.5C 14.0945 8.51462 12.4845 6.9055 10.5 6.9055C 8.51462 6.9055 6.9055 8.51462 6.9055 10.5C 6.9055 12.4854 8.5155 14.0945 10.5 14.0945C 12.4854 14.0945 14.0945 12.4854 14.0945 10.5ZM 15.0762 6.76375C 15.0762 6.3 14.7 5.92375 14.2363 5.92375C 13.7725 5.92375 13.3963 6.3 13.3963 6.76375C 13.3963 7.2275 13.7725 7.60375 14.2363 7.60375C 14.7009 7.60375 15.0762 7.2275 15.0762 6.76375ZM 19 0C 20.1046 0 21 0.895431 21 2L 21 19C 21 20.1046 20.1046 21 19 21L 2 21C 0.895431 21 0 20.1046 0 19L 0 2C 0 0.895431 0.895431 0 2 0L 19 0ZM 17.5 10.5C 17.5 8.5995 17.4921 8.36062 17.458 7.61425C 17.3434 5.075 15.9311 3.65925 13.3866 3.54287C 12.6394 3.50787 12.4014 3.5 10.5 3.5C 8.59862 3.5 8.3615 3.50787 7.61425 3.542C 5.0715 3.65837 3.65925 5.06888 3.542 7.61338C 3.50787 8.36063 3.5 8.5995 3.5 10.5C 3.5 12.4014 3.50787 12.6394 3.542 13.3858C 3.65925 15.9285 5.06975 17.3416 7.61425 17.458C 8.3615 17.4921 8.59862 17.5 10.5 17.5C 12.4014 17.5 12.6394 17.4921 13.3866 17.458C 15.9259 17.3416 17.3434 15.9311 17.458 13.3858C 17.4921 12.6394 17.5 12.4014 17.5 10.5Z")

