extends layout/main

include components/top
include components/container
include components/faq-group
include mixins/faq-qa-list
//- include components/faq-item
include components/button


block meta
    - title       = t('404__META__TITLE')
    - keywords    = t('HOME__META__KEYWORDS')
    - description = t('HOME__META__DESCRIPTION')

block content
    +top(
    t('404__PAGE__TITLE'),
    t('404__PAGE__SUBTITLE')
    )