

$root-font-size = 16px
$root-line-height = 1.5
$primary-font-family = 'Hind', serif;
$secondary-font-family = 'Hind', serif;
$primary-color = #1e81ef
$secondary-color = #11cc1e
$base-black-color = #252525
$error-color = #ff8e8e
$invert-box-shadow = 0px 2px 12px 2px rgba(0,0,0,0.15)
$first-screen-item-box-shadow = 0px 2px 12px 2px rgba(0,0,0,0.15)

$converter-arrows-width = 5.5rem

$container-padding = 20px

$screen-size-lg = 1200px
$screen-size-md = 992px
$screen-size-sm = 768px
$screen-size-xs = 576px

$modals-border-radius = .3125rem