include ../components/faq-item

//- +faq-item('What is an “order ID”?')
  p It is the unique access address link to the operation report. You need it to check the status of the operation. You can also send the link to your email.

//- +faq-item('Can I refresh the page or close my browser window?')
  p Yes, you can, and it won’t affect anything. You can always reopen the summary step.
  p If you closed the tab by accident, but haven’t saved the link, the quickest way to restore it is to press SHIFT+CMD/CTRL+T.

//- +faq-item('What does “view on blockchain” mean?')
  p Once the cryptocurrency is sent, every transaction is written on blockchain and the information is stored there forever.
  p A unique reference to the transaction called “hash” is created and you can track its status there.

//- +faq-item('What does QR-code redeem?')
  p We create a unique address and a unique QR-code for every transaction.

//- +faq-item('What if I send the crypto two times?')
  p We will send you the exchanged amount twice, your money will not be lost.

//- +faq-item('What if I send a higher or lower amount of crypto than the one I originally stated?')
  p If you send more than you initially set, we will exchange all the funds.
  p If you send less than you initially set, but over the minimum, we will exchange the funds.
  p If you send less than the necessary minimum, the transaction won’t work and you’ll be refunded. Please, consider the announced minimum amount.

//- +faq-item('How do I know the operation is complete?')
  p You will see the “All done” status in the Summary page. Or you can check your brand-new coins/tokens in your wallet.
  p As a rule, the exchange process takes about 15-60 min depending on the network load and selected platforms.
