include ../components/faq-item

//- +faq-item('Ok, I want to exchange some cryptocurrency. Does it mean you will get access to my wallet?')
  p No. You will receive an address and can send your cryptocurrency from there by yourself. Smartjex won’t demand any access.
  p And you can never be too thorough: don’t your seed phrase, your private key and password to anybody!

//- +faq-item('How will I know that I am on the official site?')
  p Look at the address bar: the official Smartjex site has a secure https://, security mark, and its one and only address is 
    a(href='https://smartjex.com') https://smartjex.com

//- +faq-item('How do you know the best rate?')
  p Our algorithms examine rates and fees according to the amount exchanged and compare  it to 4 platforms (exchanges, etc.) in order to calculate the best rate.

//- +faq-item('What is a “bottom offer”?')
  p It is the most unprofitable available offer. It helps you see the difference between it and the most profitable offer.

//- +faq-item('What is a “minimum amount”?')
  p It is the lowest amount of the selected crypto you can exchange. Note that the amount is different for every coin/token. It depends on the transaction fee, the platforms’ specifications and fees, and your required quantity of the crypto.

//- +faq-item('What does “I save 25%” mean?')
  p It means the margin between the bottom and the top offer, according to your demand.

//- +faq-item('Why do you offer different options if there is always the best one?')
  p By giving different options we provide our users an overview of the state of things. Also to let them choose according to their preferences.

//- +faq-item('What does “in USD” mean?')
  p You can set the estimated amount you want to exchange in US dollars (USD). We will recalculate it in crypto.

//- +faq-item('What means “needs limit adjust”?')
  p We suggest every possible way to exchange your crypto. If the platforms follow everything else except the primarily set amount, there will be a hint on how you can change it to include it in the platform, if you decide to.

//- +faq-item('Why are different platforms offered every time?')
  p Some platforms don’t support chosen pairs or could be unavailable – we suggest only selected list, to save your time and money!

  