mixin offers-table
  .offers
    .title Other offers
    table
      thead
        tr
          th You get
          th You saved
          th Service
          th
      tbody
        tr
          td.get 0.238138 ETH
          td.save 21% (~20$)
          td.service
            img(src='/resources/images/partners/evercoin.svg', height=16)
          td
            button.btn.secondary.outline Exсhange
        tr
          td.get 0.238138 ETH
          td.save 21% (~20$)
          td.service
            img(src='/resources/images/partners/cryptopia.png', height=20)
            //- object(data='/resources/images/partners/shapeshift.svg', type="image/svg+xml", height=16)
          td
            button.btn.secondary.outline Exсhange
        tr
          td.get 0.238138 ETH
          td.save 21% (~20$)
          td.service
            img(src='/resources/images/partners/evercoin.svg', height=16)
          td
            button.btn.secondary.outline Exсhange
  .offers
    .title Needs limit adjust
    table
      //- thead
      //-   tr
      //-     th 12
      tbody
        tr
          td(width='50%').adjust min. 0.002 BTC (0.03 ETH)
          td.service
            img(src='/resources/images/partners/cryptopia.png', height=20)
          td
            button.btn.primary.outline Set & Exchange
        tr
          td.adjust min. 0.0025 BTC (0.03 ETH)
          td.service
            img(src='/resources/images/partners/evercoin.svg', height=16)
          td
            button.btn.primary.outline Set & Exchange