node_modules/
package-lock.json
.idea/
logs
*.log
# Runtime data
pids
*.pid
*.seed
*.DS_Store

*.DS_Store
lib-cov
config/

coverage

.grunt

.lock-wscript

build/Release
npm-debug.log
.vagrant

/nbproject
.idea/

