.bg
  &-gray
    background #eee
  &-primary
    color #fff
    position relative
    //&:before
    //  content ''
    //  background-color $primary-color
    //  top 0
    //  left 0
    //  right 0
    //  bottom 0
    //  position absolute
    //  z-index -2
    //&:after
    //  content ''
    //  opacity 0.5
    //  background-image url(/paticlesjs-big.png)
    //  background-position top
    //  top 0
    //  left 0
    //  right 0
    //  bottom 0
    //  position absolute
    //  z-index -1