.preloader
  padding 20px 0
  text-align center
  color #666
  user-select none
  & > i, & > span
    display block
  i
    svg
      animation spin 1s linear infinite
      font-size 1rem
      fill @color