.seo
  .section&-section
    // padding $container-padding 0
    .section-title
      margin 0 0 2rem 0
  &-content
    line-height 1.75
    text-align left
    @media (min-width $screen-size-sm)
      text-align justify