.social-buttons
  
  a
    color white
    display inline-block
    text-decoration none
    padding-right 15px
    padding-bottom 10px
    opacity 1
    line-height 0
    &:hover
      opacity 0.80
    &:last-child
      padding-right 0
    & > svg
      font-size 1.5rem
      fill #252525
  &.lg
    svg
      font-size 1.875rem
  &.invert
    svg
      fill white