$icon-size = 2.25em

.wallet
  
  border 1px solid #ddd
  border-radius $icon-size
  color #252525
  display block
  font-size .75rem
  line-height 1.15
  padding 0.5em
  
  > i
    display block
    float left
    margin-right 0.5em
    
    > img
      height $icon-size
      width @height
      
  > strong, > span
    display block
    font-size 1em
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    
  > strong
    font-weight 500
    
  > span
    font-weight 300
    
    