@import 'vars'
@import 'helpers'
//.top-subtitle
//  a
//    color white!important
//    font-weight lighter

 //.top
 //  // &.first-screen
 //    // height 90vh
 //  padding-top 160px
 //  padding-bottom 60px
 //  color #fff
 //  // gradient(-30deg, #208bf9, #1b70e0)
 //  &-title
 //    padding 0
 //    margin 0
 //    font-size 48px
 //    font-weight 700
 //    font-family $secondary-font-family
 //    width 80%
 //  .first-screen &-title
 //    margin-bottom 40px
 //  &-subtitle
 //    a
 //      color white
 //
 //    padding 0
 //    margin 0
 //    font-size 24px
 //    font-weight 400
 //  .row
 //    padding 50px 0 0 0
 //    // font-family $secondary-font-family