extends layouts/main

block content
  .card
    p awesome
    p awesome
    p awesome
    p awesome
    p awesome
    p awesome
    form(action='/', method='post')
      input(type='text', name='awesome', value='awesome')
      button(type='submit') Submit