.svg
  display inline-block
  width 1em
  height 1em
  fill #000
  font-size 1rem
  &-public
    width auto
    height auto
  &-chevron-down
    width auto
    height auto

.svg-abt
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-act
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ada
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-adx
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ae
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-agi
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-aion
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-amb
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-amp
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-angle-double-right
  font-size (512/10) * 1rem
  width (448/512) * 1em
.svg-ant
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-appc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ardr
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ark
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-arn
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-arrow-circle-right
  font-size (512/10) * 1rem
  width (512/512) * 1em
.svg-arrow-right
  font-size (512/10) * 1rem
  width (448/512) * 1em
.svg-ary
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ast
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-bars
  font-size (512/10) * 1rem
  width (448/512) * 1em
.svg-bat
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-bay
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-bcd
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-bch
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-bcn
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-bcpt
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-blk
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-block
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-blz
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-bnb
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-bnt
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-bnty
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-bos
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-bpt
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-brd
  font-size (259/10) * 1rem
  width (259/259) * 1em
.svg-btc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-btcd
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-btg
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-btm
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-bts
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-burst
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-cdt
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-cfi
  font-size (300/10) * 1rem
  width (300/300) * 1em
.svg-chat
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-check
  font-size (512/10) * 1rem
  width (512/512) * 1em
.svg-chevron-down
  font-size (512/10) * 1rem
  width (448/512) * 1em
.svg-chevron-right
  font-size (512/10) * 1rem
  width (320/512) * 1em
.svg-clam
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-clear
  font-size (24/10) * 1rem
  width (24/24) * 1em
.svg-cloak
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-cmt
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-cnd
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-crw
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-cs
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-cvc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-dash
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-dat
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-data
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-dbc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-dcn
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-dcr
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-dent
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-dgb
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-dgd
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-dlt
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-dnt
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-doge
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-done
  font-size (48/10) * 1rem
  width (48/48) * 1em
.svg-drgn
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-dta
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ebst
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-edg
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-edo
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ela
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-elf
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-elix
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-emc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-emc2
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-eng
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-enj
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-envelope
  font-size (512/10) * 1rem
  width (512/512) * 1em
.svg-eos
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-etc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-eth
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-etn
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-evx
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-exchange
  font-size (490.67/10) * 1rem
  width (490.67/490.67) * 1em
.svg-exchange-arrow-right
  font-size (490.667/10) * 1rem
  width (490.667/490.667) * 1em
.svg-exp
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-facebook
  font-size (512/10) * 1rem
  width (264/512) * 1em
.svg-facebook-square
  font-size (512/10) * 1rem
  width (448/512) * 1em
.svg-fct
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-fldc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-flo
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ftc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-fuel
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-fun
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-game
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-gas
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-gbyte
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-gno
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-gnt
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-grc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-grs
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-gto
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-gup
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-gvt
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-gxs
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-help
  font-size (48/10) * 1rem
  width (48/48) * 1em
.svg-hmq
  font-size (300/10) * 1rem
  width (300/300) * 1em
.svg-hpb
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-hsr
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-huc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-icn
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-icx
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ignis
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ins
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ion
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-iop
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-iost
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-itc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-jnt
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-kcs
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-kmd
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-knc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-lbc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-lend
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-link
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-lrc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-lsk
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ltc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-lun
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-maid
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-mana
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-mco
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-mda
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-mds
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-medium-square
  font-size (512/10) * 1rem
  width (448/512) * 1em
.svg-mln
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-mod
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-mona
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-mth
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-mtl
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-music
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-nano
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-nas
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-nav
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ncash
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-nebl
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-neo
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-neos
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ngc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-nlc2
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-nlg
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-nmc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-nmr
  font-size (400/10) * 1rem
  width (400/400) * 1em
.svg-noah
  font-size (300/10) * 1rem
  width (300/300) * 1em
.svg-nuls
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-nxs
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-nxt
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-oax
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-omg
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-omni
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ont
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ost
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-part
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-paste
  font-size (512/10) * 1rem
  width (448/512) * 1em
.svg-pay
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-pink
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-pivx
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-poa
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-poe
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-poly
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-pot
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-powr
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ppc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ppt
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-prl
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ptoy
  font-size (300/10) * 1rem
  width (300/300) * 1em
.svg-pura
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-qash
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-qlc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-qrcode
  font-size (512/10) * 1rem
  width (448/512) * 1em
.svg-qrl
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-qsp
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-qtum
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-r
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-rads
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-rcn
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-rdd
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-rdn
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-reddit-square
  font-size (512/10) * 1rem
  width (448/512) * 1em
.svg-rep
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-req
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-rhoc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ric
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-rlc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-rpx
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-salt
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-sbd
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-sc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-search
  font-size (512/10) * 1rem
  width (512/512) * 1em
.svg-sky
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-slider-arrow
  font-size (511.95/10) * 1rem
  width (511.95/511.95) * 1em
.svg-slr
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-sls
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-sngls
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-snm
  font-size (300/10) * 1rem
  width (300/300) * 1em
.svg-snt
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-sort-down
  font-size (512/10) * 1rem
  width (320/512) * 1em
.svg-sort-up
  font-size (512/10) * 1rem
  width (320/512) * 1em
.svg-sphtx
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-spinner
  font-size (512/10) * 1rem
  width (512/512) * 1em
.svg-srn
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-steem
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-storj
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-storm
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-strat
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-stx
  font-size (300/10) * 1rem
  width (300/300) * 1em
.svg-sub
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-swt
  font-size (300/10) * 1rem
  width (300/300) * 1em
.svg-sys
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-tel
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-theta
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-times
  font-size (512/10) * 1rem
  width (384/512) * 1em
.svg-tix
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-tnb
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-tnc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-tnt
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-trig
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-trst
  font-size (300/10) * 1rem
  width (300/300) * 1em
.svg-trx
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-twitter
  font-size (512/10) * 1rem
  width (512/512) * 1em
.svg-twitter-square
  font-size (512/10) * 1rem
  width (448/512) * 1em
.svg-ubq
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-usdt
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-utk
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-ven
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-via
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-vib
  font-size (300/10) * 1rem
  width (300/300) * 1em
.svg-vibe
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-vrc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-vtc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-wabi
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-wan
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-waves
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-wax
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-wings
  font-size (2000/10) * 1rem
  width (2000/2000) * 1em
.svg-wpr
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-wtc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-xas
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-xbc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-xcp
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-xdn
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-xem
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-xlm
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-xmg
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-xmr
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-xmy
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-xpm
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-xrp
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-xvc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-xvg
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-xzc
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-yoyow
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-zcl
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-zec
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-zen
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-zil
  font-size (32/10) * 1rem
  width (32/32) * 1em
.svg-zrx
  font-size (32/10) * 1rem
  width (32/32) * 1em
